.image {
    position: relative;
    left: 500px;
    width: 100%;
    height: 700px;
    max-width: 100%;
    max-height: 4486px;
    background: url("final background/404.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow-anchor: none;
}

._box {
    position: relative;
    bottom: -190px;
    left: -300px;
    overflow-anchor: none;
}

.email {
    height: 20px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
    overflow-anchor: none;
}

.password {
    height: 20px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
    overflow-anchor: none;
}

.password {
    height: 20px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
    overflow-anchor: none;
}

._loginbtm {
    position: relative;
    left: 40px;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    overflow-anchor: none;
}